.list-component {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    border: none;
  }

  li {
    padding: 0.5em;
    background: $personio-white;
    font-weight: 600;
    font-size: 0.8em;
  }

  $class-slug: list-item !default;
  @for $i from 1 through 4 {
    .#{$class-slug}-#{$i} {
      padding-left: 2em * $i;

      &:hover {
        background-color: gray;
        color: $personio-white
      }
    }
  }

  .placeholder {
    background: $personio-green;

    &:before {
      content: "Drop Item Here";
      color: $personio-yellow;
    }
  }
}