.list-component {
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-bottom: 5em;
  overflow-x: hidden;
  background-color: $personio-white;
  border-radius: 0.2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    border: none
  }

  li {
    padding: 0.8em;
    background: $personio-white;
    font-weight: 600;
    font-size: 0.8em;
  }

  $class-slug: list-item !default;
  @for $i from 1 through 10 {
    .#{$class-slug}-#{$i} {
      padding-left: 1em * $i * $i/2;
      background-color: rgb($i*80, $i*113, $i*192);

      @if ($i == 1) {
        font-size: 0.9em;
        font-weight: 900;
        color: white
      }

      &:hover {
        background-color: $personio-yellow;
        color: $personio-black
      }
    }
  }

  .placeholder {
    background: $personio-green;

    &:before {
      content: "Drop Employee Here";
      color: $personio-black;
    }
  }
}