$personio-black: #252525;
$personio-white: #fff;
$personio-yellow: #ffff00;
$personio-green: #d5f0f7;
$personio-box-shadow: rgba(57, 63, 72, 0.3);
$personio-error: #ff5451;
$personio-info: #85C1E9;
$personio-success: #76D7C4;
