.hierarchy {
  position: absolute;
  top: 5em;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  background-color: $personio-green;
  min-width: 20em;
  min-height: 30em;

  .list {
    width: 100%;
    position: absolute;
    margin-top: 1em;
  }
}
